---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
// - UI
import Feature from '../components/blocks/featureses/FeatureSticky.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'

import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import StickySidebar from '../components/blocks/basic/StickySidebar.astro'
// Data
import featuresData from '../data/json-files/featuresData.json'
// - Feature Categories
const menuIndonesian = featuresData.filter((feature) => feature.category === 'indonesianFood')
const menuOriental = featuresData.filter((feature) => feature.category === 'orientalFood')
const menuWestern = featuresData.filter((feature) => feature.category === 'westernFood')
const featuresIntegrations = featuresData.filter((feature) => feature.category === 'Integrations')
const featuresSupport = featuresData.filter((feature) => feature.category === 'Support')

import laundry1 from '../../src/assets/laundry/laundry.jpeg'
import laundry2 from '../../src/assets/laundry/laundry1.jpeg'

// - SEO
const SEO = {
	title: 'Cabin | Laundry service di The Grand Cabin Hotel',
	description: 'The Grand Cabin Hotel menyediakan layanan Laundry service untuk pengunjung'
}
// - Page Header
const header = {
	title: 'Laundry service <strong>The Grand Cabin Hotel </strong>',
	text: 'Layanan Laundry service <strong> The Grand Cabin Hotel</strong>',
	type: 'Laundry'
}

const laundryItem = [
	{
		image: laundry2,
		text: `test`
	},
	{
		image: laundry1,
		text: `test`
	}
]
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} type={header.type} />

	<!-- MASSAGE -->
	<StickySidebar>
		<header slot="sidebar">
			<h3 class="text-3xl">Laundry</h3>
			<p class="text-lg leading-relaxed">Deskripsi</p>
		</header>

		<Row>
			<Col span="6">
				<Image
					src={laundry2}
					alt="Foxi. The tailwind astro theme"
					class="shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
					format="webp"
				/>
				<div class="py-2">
					<p class="text-xl text-slate-900 dark:text-slate-200">Cuci Setrika</p>
					<ul class="list-inside list-disc text-slate-900 dark:text-slate-200">
						<li>3 hari (10.000 / Kg)</li>
						<li>2 hari (12.000 / Kg)</li>
						<li>24 hari (16.000 / Kg)</li>
						<li>6 jam (24.000 / Kg)</li>
						<li>4 jam (30.000 / Kg)</li>
					</ul>
				</div>
				<div class="py-2">
					<p class="text-xl text-slate-900 dark:text-slate-200">Cuci Kering</p>
					<ul class="list-inside list-disc text-slate-900 dark:text-slate-200">
						<li>3 hari (7.000 / Kg)</li>
						<li>2 hari (8.000 / Kg)</li>
						<li>24 hari (10.000 / Kg)</li>
						<li>6 jam (20.000 / Kg)</li>
						<li>4 jam (34.000 / Kg)</li>
					</ul>
				</div>
				<div class="py-2">
					<p class="text-xl text-slate-900 dark:text-slate-200">Cuci Basah</p>
					<ul class="list-inside list-disc text-slate-900 dark:text-slate-200">
						<li>Drop pagi, ambil malam (10.000 / Kg)</li>
						<li>6 jam (16.000 / Kg)</li>
						<li>4 jam (20.000 / Kg)</li>
					</ul>
				</div>
			</Col>
		</Row>
	</StickySidebar>

	<!-- <CTA /> -->
</Layout>
